export(extractNoun)
export(MorphAnalyzer)
export(SimplePos09)
export(SimplePos22)
export(is.hangul)
export(is.jamo)
export(is.jaeum)
export(is.moeum)
export(is.ascii)
export(convertHangulStringToJamos)
export(convertHangulStringToKeyStrokes)
export(HangulAutomata)
export(concordance_str)
export(concordance_file)
export(mutualinformation)
export(reloadAllDic)
export(reloadUserDic)
export(backupUsrDic)
export(restoreUsrDic)
export(mergeUserDic)
export(buildDictionary)
export(statDic)
export(get_dictionary)
export(useSejongDic)
export(useSystemDic)
export(useNIADic)
export(convertTag)
export(tags)
export(KtoS)
export(StoK)
export(editweights)
useDynLib(HanNLP, .registration = TRUE)
